#### Generic settings from GitHub ####
# Compiled class file
*.class


# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
#### End of Generic settings from GitHub ####

# Customised settings
build
.gradle
gradle
gradlew
gradlew.bat
addressbook-all-1.5.1.jar
doco/*.dia~
doco/README.*
doco/TestPlan.*
doco/WhatIs.pdf